akka {
	loglevel = WARNING

	actor {
		provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
		debug {
			receive = on
			autoreceive = on
			lifecycle = on
			event-stream = on
			unhandled = on
		}
		deployment {
			/PlaybackActor/PlaybackStatisticsActor {
				remote = "akka.tcp://MovieStreamingActorSystem@localhost:8091"
			}
		}
	}

	remote {
		# the helios transport kept failing with "Only one usage of each socket address (protocol/network address/port) is normally permitted" so I tried with dot-netty and this worked
#		helios.tcp {
#			transport.tcp {
#				transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
#				transport-protocol = tcp
#				port = 0
#				hostname = "localhost"
#			}
#		}
		dot-netty.tcp {
			port = 0
			hostname = "localhost"
		}
	}
}